 #carouselimage{
    height: 500px;
    width: 100%;

} 
@media only screen and (min-width: 600px){

.carousel-caption {
    padding-bottom: 177px;
}

}
@media only screen and (max-width: 600px){

    .carousel-caption {
        padding-bottom: 177px;
    }
    
    }
@media only screen and (max-width: 600px){
    #carouselimage{
        height: 200px;

    }
    .d-none{
        /* display: block !important; */
    }
}  

  .carousel-caption {
    padding-bottom: 350px;
  }
  .carousel-caption h2 {
    font-size: 50px;
    text-transform: uppercase;
  }
  .carousel-control.right {
    background-image: none;
  }
  .carousel-control.left {
    background-image: none;
  }

  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
height:600px !important;  
}

#myCarousel{
    width:400px;
  }
  @media screen and (min-width: 768px) {
    .carousel-indicators {
      bottom: 80px;
    }
  }
  #button{
    margin:20px auto;
      width:200px;
      height:40px;
      border-radius:20px;
  }  

  #button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #button:hover span {
    padding-right: 25px;
  }
  
  #button:hover span:after {
    opacity: 1;
    right: 0;
  }
/* 
.carousel-indicators [data-bs-target]{
    height:12px;
    width:12px;
    margin:0px 10px 0px 13px;
    border-radius: 10px;
} */
